@use 'variaveis' as *;
@use 'mixins' as *;
@use 'sass:math';
.botao {
  @include botao-padrao($cor-primaria);

  &--secundario {
    @include botao-padrao($cor-secundaria);
  }
}

.card {
  background: $cor-branca;
  padding: $espacamento;
  border-radius: 10px;
  margin-bottom: $espacamento;

  &__titulo {
    font-size: 1.2rem;
    margin-bottom: math.div($espacamento, 2);
  }

  &__texto {
    font-size: 0.9rem;
  }
}