@use 'variaveis';

@mixin botao-padrao($bg-color) {
  background-color: $bg-color;
  color: variaveis.$cor-branca;
  padding:variaveis.$espacamento; // 2 variaveis.$espacamento;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover{
    opacity: 0.8;
  }
}

// Mixin de centralização
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}