@use 'variaveis' ;
@use "sass:math";

@mixin botao-padrao($bg-color) {
  background-color: $bg-color;
  color: variaveis.$cor-branca;
  padding: math.div(variaveis.$espacamento, 2) math.div(variaveis.$espacamento, 1.5);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover{
    opacity: 0.8;
  }
}

// Mixin de centralização
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}